/* GENERAL STYLES */

* {
    font-family: sans-serif;
}

body {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

/* CONTENT STYLES */

.container {
    width: 100%;
    margin: 0 auto;
}

nav {
    background-color: #303030;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul a {
    text-decoration: none;
    color: antiquewhite;
    display: block;
    padding: 10px;
    font-size: 2em;
    text-align: center;
}

nav a:hover {
    background-color: #505050;
}



/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

/* When screen is wider then 768 px we use flexbox to
    separate two menus (main menu and socials). For narrower devices like mobiles menu elements stack on top of each other */
    
    nav {
        display: flex;
        justify-content: space-between;
    }
    
    ul {
        display: flex;
    }
    
    ul li {
        flex: 1 1 0;
    } 
    
}


@media screen and (max-width: 768px) {
    
    /* Little tweak for narrow screens that separates main menu and socials with a slim border line */
    
    ul.socials {
        border-top: 1px solid antiquewhite;
    }
}